In [1]:
import numpy as np
import json
import pandas as pd

In [14]:
df=pd.read_csv('Lv3_UMDOTS_Escooters/Data_Lv3_UMDOTS_Escooters.csv',converters={'PATH':json.loads}, header=0)

In [16]:
df.head()

,CREATED,START,END,DISTANCE,RIDE_ID,CUSTOMER_ID,MINUTES,VEHICLE_TYPE,PATH,TIMESTAMPS,START LONG,START LAT,END LONG,END LAT
0,2020-10-03 03:32:15+00:00,2020-10-03 03:32:15+00:00,2020-10-03 03:32:46+00:00,0.008,3135665,193964,1,Scooter,"{'coordinates': [[-76.934163, 38.9906555], [-7...","[\n ""2020-10-03T03:32:14Z"",\n ""2020-10-03T03...",-76.934163,38.990656,-76.934285,38.990739
1,2020-10-03 03:07:39+00:00,2020-10-03 03:07:39+00:00,2020-10-03 03:37:06+00:00,1.062,3135395,542947,30,Scooter,"{'coordinates': [[-76.93818083333333, 38.98208...","[\n ""2020-10-03T03:07:46Z"",\n ""2020-10-03T03...",-76.938181,38.982087,-76.949165,38.992849
2,2020-10-03 03:17:05+00:00,2020-10-03 03:17:05+00:00,2020-10-03 03:24:24+00:00,0.847,3135503,517321,8,Scooter,"{'coordinates': [[-76.93759983333334, 38.97961...","[\n ""2020-10-03T03:17:12Z"",\n ""2020-10-03T03...",-76.937600,38.979613,-76.933335,38.992676
3,2020-10-03 02:24:58+00:00,2020-10-03 02:24:58+00:00,2020-10-03 03:11:56+00:00,3.447,3134955,578051,47,Scooter,"{'coordinates': [[-76.94355316666666, 38.98247...","[\n ""2020-10-03T02:25:04Z"",\n ""2020-10-03T02...",-76.943553,38.982470,-76.943546,38.982476
4,2020-10-03 03:19:34+00:00,2020-10-03 03:19:34+00:00,2020-10-03 03:22:45+00:00,0.386,3135529,552305,4,Scooter,"{'coordinates': [[-76.93811566666666, 38.98208...","[\n ""2020-10-03T03:19:40Z"",\n ""2020-10-03T03...",-76.938116,38.982084,-76.943257,38.986101

In [17]:
df1 = pd.concat([df.drop(['PATH'], axis=1), df['PATH'].apply(pd.Series)], axis=1)

In [18]:
df1.head()

,CREATED,START,END,DISTANCE,RIDE_ID,CUSTOMER_ID,MINUTES,VEHICLE_TYPE,TIMESTAMPS,START LONG,START LAT,END LONG,END LAT,coordinates,type
0,2020-10-03 03:32:15+00:00,2020-10-03 03:32:15+00:00,2020-10-03 03:32:46+00:00,0.008,3135665,193964,1,Scooter,"[\n ""2020-10-03T03:32:14Z"",\n ""2020-10-03T03...",-76.934163,38.990656,-76.934285,38.990739,"[[-76.934163, 38.9906555], [-76.93428483333334...",MultiPoint
1,2020-10-03 03:07:39+00:00,2020-10-03 03:07:39+00:00,2020-10-03 03:37:06+00:00,1.062,3135395,542947,30,Scooter,"[\n ""2020-10-03T03:07:46Z"",\n ""2020-10-03T03...",-76.938181,38.982087,-76.949165,38.992849,"[[-76.93818083333333, 38.982087166666666], [-7...",MultiPoint
2,2020-10-03 03:17:05+00:00,2020-10-03 03:17:05+00:00,2020-10-03 03:24:24+00:00,0.847,3135503,517321,8,Scooter,"[\n ""2020-10-03T03:17:12Z"",\n ""2020-10-03T03...",-76.937600,38.979613,-76.933335,38.992676,"[[-76.93759983333334, 38.97961266666667], [-76...",MultiPoint
3,2020-10-03 02:24:58+00:00,2020-10-03 02:24:58+00:00,2020-10-03 03:11:56+00:00,3.447,3134955,578051,47,Scooter,"[\n ""2020-10-03T02:25:04Z"",\n ""2020-10-03T02...",-76.943553,38.982470,-76.943546,38.982476,"[[-76.94355316666666, 38.982470166666666], [-7...",MultiPoint
4,2020-10-03 03:19:34+00:00,2020-10-03 03:19:34+00:00,2020-10-03 03:22:45+00:00,0.386,3135529,552305,4,Scooter,"[\n ""2020-10-03T03:19:40Z"",\n ""2020-10-03T03...",-76.938116,38.982084,-76.943257,38.986101,"[[-76.93811566666666, 38.9820835], [-76.938261...",MultiPoint

In [24]:
df2 = pd.DataFrame(df1.coordinates.tolist(), index= df1.index)

In [27]:
df3 = pd.concat([df1.drop(['coordinates'], axis=1), df2], axis=1)

In [28]:
df3.head()

,CREATED,START,END,DISTANCE,RIDE_ID,CUSTOMER_ID,MINUTES,VEHICLE_TYPE,TIMESTAMPS,START LONG,...,240,241,242,243,244,245,246,247,248,249
0,2020-10-03 03:32:15+00:00,2020-10-03 03:32:15+00:00,2020-10-03 03:32:46+00:00,0.008,3135665,193964,1,Scooter,"[\n ""2020-10-03T03:32:14Z"",\n ""2020-10-03T03...",-76.934163,...,None,None,None,None,None,None,None,None,None,None
1,2020-10-03 03:07:39+00:00,2020-10-03 03:07:39+00:00,2020-10-03 03:37:06+00:00,1.062,3135395,542947,30,Scooter,"[\n ""2020-10-03T03:07:46Z"",\n ""2020-10-03T03...",-76.938181,...,None,None,None,None,None,None,None,None,None,None
2,2020-10-03 03:17:05+00:00,2020-10-03 03:17:05+00:00,2020-10-03 03:24:24+00:00,0.847,3135503,517321,8,Scooter,"[\n ""2020-10-03T03:17:12Z"",\n ""2020-10-03T03...",-76.937600,...,None,None,None,None,None,None,None,None,None,None
3,2020-10-03 02:24:58+00:00,2020-10-03 02:24:58+00:00,2020-10-03 03:11:56+00:00,3.447,3134955,578051,47,Scooter,"[\n ""2020-10-03T02:25:04Z"",\n ""2020-10-03T02...",-76.943553,...,None,None,None,None,None,None,None,None,None,None
4,2020-10-03 03:19:34+00:00,2020-10-03 03:19:34+00:00,2020-10-03 03:22:45+00:00,0.386,3135529,552305,4,Scooter,"[\n ""2020-10-03T03:19:40Z"",\n ""2020-10-03T03...",-76.938116,...,None,None,None,None,None,None,None,None,None,None

In [29]:
df3.to_csv('Data_Wide.csv',index=False)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40325 entries, 0 to 40324
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CREATED       40325 non-null  object
 1   START         40325 non-null  object
 2   END           40325 non-null  object
 3   DISTANCE      38052 non-null  float64
 4   RIDE_ID       40325 non-null  int64
 5   CUSTOMER_ID   40325 non-null  int64
 6   MINUTES       40325 non-null  int64
 7   VEHICLE_TYPE  40325 non-null  object
 8   PATH          40325 non-null  object
 9   TIMESTAMPS    40325 non-null  object
 10  START LONG    40325 non-null  float64
 11  START LAT     40325 non-null  float64
 12  END LONG      40325 non-null  float64
 13  END LAT       40325 non-null  float64
dtypes: float64(5), int64(3), object(6)
memory usage: 4.3+ MB